main {
    background-color: #eeeeee;
    width: calc(100% - 300px);
    min-height: 500px;
    min-height: 100vh;
    padding: 5vw 30px 30px;
    height: fit-content;
}
.render {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select-box {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.select-option {
    width: 200px;
    margin-left: .3em;

}
@media only screen and (max-width: 800px) {
    main {
        width: 100%;
    }
}